.git
.gitignore
.github
.vercel
.local
infrastructure
docs
.pdfcheck

**/node_modules
**/.next
**/dist
**/.turbo
**/.expo
**/coverage
**/.cache

*.log
*.pid
.env
.env.*
.DS_Store
Thumbs.db
*.local

packages/database/src/generated
